[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
pillow = "*"
psycopg2 = "*"
psycopg2-binary = "*"
djangorestframework-simplejwt = "*"
dotenv = "*"
dj-database-url = "*"
django-extensions = "*"
whitenoise = "*"

[requires]
python_version = "3.8.2"
